## **Data Preprosessing**
<details><summary>Data Preprosessing（前処理）について</summary><div>

これは、データに含まれる文字データや欠損値の置換など、データ分析の**前処理**を行い、その後、**基本統計量や可視化**を行うものです。
欠損値や異常データは削除せずに、可能な限りわかる形で残し、カテゴリーデータはラベルエンコーディング（※以下参照）を行うことを基本としています。
実行できる前処理は、① 指定したカラムを削除、② データの7割以上が欠損値のカラムを削除、③ カラム名に [ID] [Lot] を含まれる場合、削除、④ 16進数カラムを指定、10進数に変換、⑤ 指定カラムをカテゴリー（数値）変換、⑥ 異常な文字データを指定番号に置換、⑦ NAデータを指定番号に置換、⑧ 日本語カラムを英語翻訳、⑨ object要素が残っている場合、floatに変換 となります。


<details><summary>[使用方法]</summary><div>

- **基本的には、上から順に実行するようにしてください。**
- ②③⑧⑨は実行する／しないを任意に設定できます。
- ①④⑤はデータセットに応じてカラムを指定してください。
- ⑥の**異常データ**の数値置換は[**-99**]、**NAデータ**は[**-1**]をデフォルトとしています。別の数値にする場合は任意に設定してください。
- 前処理が問題なく実行出来たら、**DataPrep html Report Output**を実行してください。保存したhtmlを起動するとデータ可視化、操作ができます。
- 前処理後のデータで別の分析を行う場合は**前処理結果 csv出力**を実行してください。csvデータを保存することができます。


<details><summary>[追記]</summary><div>

- Uploadするデータに欠損値がなく、かつすべて数値データである場合、これら前処理は実行の対象となりませんので何も影響はありません。
- ラベルエンコーディングは、例えば [優] [良] [可] [不可] を [0] [1] [2] [3] とする処理です。数値は 0～ 割り振られます。該当の前処理セル実行後、[優、良、可]等と表示されます。[優, 良, 可]＝[0, 1, 2] という対応になります。
- カテゴリーデータに含まれるNA以外の異常値は判定できませんので、異常な値もカテゴリー化されます。これはデータで判断してください。
- カテゴリーデータのエンコーディングは、決定木モデルでの解析を意識し、ラベルエンコーディングのみとしています。他のモデルで分析する場合、適切ではないこともあります。

In [ ]:
#@title Select_Dataset { run: "auto" }
#@markdown  **<font color= "Crimson">注意</font>：かならず 実行する前に 設定してください。**</font>

dataset = 'Upload' #@param ['Boston_housing :regression', 'Diabetes :regression', 'Breast_cancer :binary','Titanic :binary', 'Iris :classification', 'Loan_prediction :binary', 'Upload']

#@title **Classification**（分類）or **Regression**（回帰）
dataset_type = 'Classification' #@param ["Classification", "Regression"]


<details><summary>dataset について : 
データをアップロードする場合は [ Upload ]を選択してください。Boston_housing :regression / Diabetes :regression / Breast_cancer :binary / Titanic :binary / Iris :classification / Loan_prediction :binary はデータセットサンプルです。</summary><div>

- Boston_housing :regression　← ボストン市郊外の「犯罪発生率」や「広い部屋の割合」等と「住宅価格」の回帰データ。欠損値なし。すべてのカラムが数値のデータ。

- Diabetes :regression　← 糖尿病患者の「年齢」「性別」と「8項目の診断データ」と「1年後の進行度（数値）」の回帰データ。欠損値なし。「8項目の診断データ」は標本平均と標本分散で標準化（平均0, 標準偏差1）されている。

- Breast_cancer :binary　← 乳がんのさまざまな「診断データ」と「陽性・陰性（陽性:1, 陰性:0）」の二値分類データ。欠損値なし。すべてのカラムが数値のデータ。

- Titanic :binary　← タイタニック号 乗客者の「性別」「年齢」「チケットクラス」等と「生存情報（Survived）」のデータ。Survived：0（死亡）,1（生存）の二値分類。欠損値があり、文字列のカラムも複数あるデータ。

- Iris :classification　← 「がく片」「花びらの幅」「長さ」と「3種類のアヤメ [Setosa, Virginia, Versicolor]」 の分類データ。欠損値なし。分類データである [Setosa, Virginia, Versicolor] は文字データ。

- Loan_prediction :binary　←　住宅ローン顧客の「性別」「配偶者の有無」「学歴」「扶養家族の数」「収入」「融資額」「クレジットヒストリー」などの情報と「ローン承認のStatus：Loan_Status(Y/N)」の二値分類データ。欠損値があり、文字列カラムも複数あるデータ。分類データである「Loan_Status」も 文字データ[Y,N] となっている。

- Upload　← 任意のデータセットを読み込む場合はこれを選択してください。
</div></details>
<details><summary>dataset_typeについて ：Classification（分類データ）か Regression（回帰データ）のいずれかを選択してください。</summary><div>

### ライブラリのインストール

In [ ]:
!pip install dataprep

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dataprep
  Downloading dataprep-0.4.3-py3-none-any.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 6.8 MB/s
Requirement already satisfied: pydantic<2.0,>=1.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.9.1)
Requirement already satisfied: bokeh<3,>=2 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2.3.3)
Requirement already satisfied: pandas<2.0,>=1.1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.3.5)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.4.32 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.4.39)
Collecting varname<0.9.0,>=0.8.1
  Downloading varname-0.8.3-py3-none-any.whl (21 kB)
Collecting jsonpath-ng<2.0,>=1.5
  Downloading jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Requirement already satisfied: numpy<2.0,>=1.21 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.21.6)
Collecting python-stdnum<2.0,>=1.16
  Downloading python_stdnum-1.17-py2.py3-none-any.whl (943 kB)
     |████████████████████████████████| 943 kB 60.5 MB/s
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.7)
Collecting jinja2<4,>=3
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 60.6 MB/s
Requirement already satisfied: tqdm<5.0,>=4.48 in /usr/local/lib/python3.7/dist-packages (from dataprep) (4.64.0)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /usr/local/lib/python3.7/dist-packages (from dataprep) (7.7.1)
Collecting metaphone<0.7,>=0.6
  Downloading Metaphone-0.6.tar.gz (14 kB)
Collecting flask_cors<4.0.0,>=3.0.10
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Collecting dask[array,dataframe,delayed]<2022.0,>=2021.11
  Downloading dask-2021.12.0-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 50.7 MB/s
Requirement already satisfied: aiohttp<4.0,>=3.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.8.1)
Collecting python-crfsuite<0.10.0,>=0.9.7
  Downloading python_crfsuite-0.9.8-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (965 kB)
     |████████████████████████████████| 965 kB 43.4 MB/s
Collecting scipy<=1.7.1
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 2.7 MB/s
Collecting wordcloud<2.0,>=1.8
  Downloading wordcloud-1.8.2.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (435 kB)
     |████████████████████████████████| 435 kB 44.6 MB/s
Collecting regex<2022.0.0,>=2021.8.3
  Downloading regex-2021.11.10-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (749 kB)
     |████████████████████████████████| 749 kB 42.2 MB/s
Collecting python-Levenshtein<0.13.0,>=0.12.2
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 3.9 MB/s
Collecting pystache<0.7.0,>=0.6.0
  Downloading pystache-0.6.0.tar.gz (78 kB)
     |████████████████████████████████| 78 kB 3.0 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting flask<3,>=2
  Downloading Flask-2.1.3-py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 3.8 MB/s
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.3.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (0.13.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (6.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (21.4.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (4.1.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (2.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (2.8.2)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (3.13)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (7.1.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (5.1.1)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (21.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (0.12.0)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (1.3.0)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.7.1-py3-none-any.whl (141 kB)
     |████████████████████████████████| 141 kB 42.5 MB/s
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Collecting click>=8.0
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.3 MB/s
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from flask<3,>=2->dataprep) (4.12.0)
Collecting Werkzeug>=2.0
  Downloading Werkzeug-2.2.1-py3-none-any.whl (232 kB)
     |████████████████████████████████| 232 kB 62.3 MB/s
Requirement already satisfied: Six in /usr/local/lib/python3.7/dist-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6.0->flask<3,>=2->dataprep) (3.8.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (1.1.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.1.1)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.5.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (4.10.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.6.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (5.3.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from jinja2<4,>=3->dataprep) (2.0.1)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.8 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.1.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh<3,>=2->dataprep) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.1->dataprep) (2022.1)
Collecting locket
  Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy<2.0.0,>=1.4.32->dataprep) (1.1.2)
Collecting pure_eval<1.0.0
  Downloading pure_eval-0.2.2-py3-none-any.whl (11 kB)
Collecting asttokens<3.0.0,>=2.0.0
  Downloading asttokens-2.0.5-py2.py3-none-any.whl (20 kB)
Collecting executing<0.9.0,>=0.8.3
  Downloading executing-0.8.3-py2.py3-none-any.whl (16 kB)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.3.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.4.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.8.0)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.11.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.13.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (23.2.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from wordcloud<2.0,>=1.8->dataprep) (3.2.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (2.10)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.6.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.0.1)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (2.16.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.3.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.9.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.1)
Building wheels for collected packages: metaphone, pystache, python-Levenshtein
  Building wheel for metaphone (setup.py) ... done
  Created wheel for metaphone: filename=Metaphone-0.6-py3-none-any.whl size=13918 sha256=7e456220fd8fddb9792d47de0a2978d207db39f33af1a5532924a1247e4b9492
  Stored in directory: /root/.cache/pip/wheels/1d/a8/cb/6f8902aa5457bd71344e00665c230e9c45255b3f57f2194a0f
  Building wheel for pystache (PEP 517) ... done
  Created wheel for pystache: filename=pystache-0.6.0-py3-none-any.whl size=83635 sha256=a368f4b209bd31d864923f556ebb18aa8f24346b2d2a720e5be1c5555cd191e3
  Stored in directory: /root/.cache/pip/wheels/78/87/45/383bd15701a08a94c735e9eaf3ff3299655684aaca63bbad96
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149863 sha256=2a24152cf9ebc5b375132195a7469fe6cedb0c3eb4051ae32275b7de54faeaa1
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built metaphone pystache python-Levenshtein
Installing collected packages: MarkupSafe, jinja2, locket, Werkzeug, partd, itsdangerous, fsspec, click, regex, pure-eval, ply, flask, executing, dask, asttokens, wordcloud, varname, scipy, python-stdnum, python-Levenshtein, python-crfsuite, pystache, metaphone, jsonpath-ng, flask-cors, dataprep
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 1.0.1
    Uninstalling Werkzeug-1.0.1:
      Successfully uninstalled Werkzeug-1.0.1
  Attempting uninstall: itsdangerous
    Found existing installation: itsdangerous 1.1.0
    Uninstalling itsdangerous-1.1.0:
      Successfully uninstalled itsdangerous-1.1.0
  Attempting uninstall: click
    Found existing installation: click 7.1.2
    Uninstalling click-7.1.2:
      Successfully uninstalled click-7.1.2
  Attempting uninstall: regex
    Found existing installation: regex 2022.6.2
    Uninstalling regex-2022.6.2:
      Successfully uninstalled regex-2022.6.2
  Attempting uninstall: flask
    Found existing installation: Flask 1.1.4
    Uninstalling Flask-1.1.4:
      Successfully uninstalled Flask-1.1.4
  Attempting uninstall: dask
    Found existing installation: dask 2.12.0
    Uninstalling dask-2.12.0:
      Successfully uninstalled dask-2.12.0
  Attempting uninstall: wordcloud
    Found existing installation: wordcloud 1.5.0
    Uninstalling wordcloud-1.5.0:
      Successfully uninstalled wordcloud-1.5.0
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pymc3 3.11.5 requires scipy<1.8.0,>=1.7.3, but you have scipy 1.7.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed MarkupSafe-2.1.1 Werkzeug-2.2.1 asttokens-2.0.5 click-8.1.3 dask-2021.12.0 dataprep-0.4.3 executing-0.8.3 flask-2.1.3 flask-cors-3.0.10 fsspec-2022.7.1 itsdangerous-2.1.2 jinja2-3.1.2 jsonpath-ng-1.5.3 locket-1.0.0 metaphone-0.6 partd-1.2.0 ply-3.11 pure-eval-0.2.2 pystache-0.6.0 python-Levenshtein-0.12.2 python-crfsuite-0.9.8 python-stdnum-1.17 regex-2021.11.10 scipy-1.7.1 varname-0.8.3 wordcloud-1.8.2.2

In [ ]:
!pip install googletrans==4.0.0-rc1 --quiet

     |████████████████████████████████| 55 kB 2.8 MB/s
     |████████████████████████████████| 1.4 MB 18.4 MB/s
     |████████████████████████████████| 42 kB 1.3 MB/s
     |████████████████████████████████| 65 kB 3.5 MB/s
     |████████████████████████████████| 53 kB 1.8 MB/s
  Building wheel for googletrans (setup.py) ... done

### Load dataset

In [ ]:
#@title Load dataset

#ライブラリインポート
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.simplefilter('ignore')


if dataset =='Upload':
  from google.colab import files
  uploaded = files.upload()#Upload
  target = list(uploaded.keys())[0]
  df = pd.read_csv(target)

elif dataset == "Diabetes :regression":
  from sklearn.datasets import load_diabetes
  dataset = load_diabetes()
  df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
  df["target"] = dataset.target

elif dataset == "Breast_cancer :binary":
  from sklearn.datasets import load_breast_cancer
  dataset = load_breast_cancer()
  df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
  df["target"] = dataset.target

elif dataset == "Titanic :binary":
  data_url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
  df = pd.read_csv(data_url)
  X = df.drop(['Survived'], axis=1) # 目的変数を除いたデータ
  y = df['Survived'] # 目的変数
  df = pd.concat([X, y], axis=1)

elif dataset == "Iris :classification":
  from sklearn.datasets import load_iris
  dataset = load_iris()
  df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
  df["target"] = dataset.target

elif dataset == "Loan_prediction :binary":
  data_url = "https://github.com/shrikant-temburwar/Loan-Prediction-Dataset/raw/master/train.csv"
  df = pd.read_csv(data_url)

else:
  from sklearn.datasets import load_boston
  dataset = load_boston()
  df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
  df["target"] = dataset.target

#X = pd.DataFrame(dataset.data, columns=dataset.feature_names)
#y = pd.Series(dataset.target, name='target')

source = df.copy()

FEATURES = df.columns[:-1]
TARGET = df.columns[-1]
X = df.loc[:, FEATURES]
y = df.loc[:, TARGET]

df.info()
df.head()

Saving X-ZONEデータ整理_r2.csv to X-ZONEデータ整理_r2.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17394 entries, 0 to 17393
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lot                  17394 non-null  int64
 1   IF1hoseimae          16293 non-null  float64
 2   IF2hoseimae          16293 non-null  float64
 3   IF1hoseiti           17098 non-null  object
 4   IF2hoseiti           16182 non-null  object
 5   IF1hoseiti(hex2dec)  17392 non-null  object
 6   IF2hoseiti(hex2dec)  17392 non-null  float64
 7   IF1hoseigo           16153 non-null  float64
 8   IF2hoseigo           16153 non-null  float64
 9   IF1noise             17208 non-null  object
 10  IF2noise             14943 non-null  float64
 11  result01             16878 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 1.6+ MB

,lot,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseiti(hex2dec),IF2hoseiti(hex2dec),IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,1418,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
1,1418,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
2,1418,623.0,557.0,FFF0,FFF4,65520,65524.0,437.0,433.0,8,9.0,1.0
3,1418,664.0,593.0,FFEE,FFF2,65518,65522.0,439.0,439.0,8,10.0,1.0
4,1418,705.0,597.0,FFEC,FFF2,65516,65522.0,436.0,438.0,8,10.0,1.0

In [ ]:
#@title Datasetの数字・文字列区分
numerical_col = []
Object_col = []

for col_name, item in df.iteritems():
    if item.dtype == object:
        Object_col.append(col_name)
    else:
        numerical_col.append(col_name)
        
print('-----------------------------------------------------------------------------------------')
print('Numerical_colomn:', numerical_col)
print('-----------------------------------------------------------------------------------------')
print('Object_colomn:', Object_col)
print('-----------------------------------------------------------------------------------------')
print('※ 前処理でカラムを指定する場合は、上記に表示されたカラムを Copy & Paste するとよい')

-----------------------------------------------------------------------------------------
Numerical_colomn: ['lot', 'IF1hoseimae', 'IF2hoseimae', 'IF2hoseiti(hex2dec)', 'IF1hoseigo', 'IF2hoseigo', 'IF2noise', 'result01']
-----------------------------------------------------------------------------------------
Object_colomn: ['IF1hoseiti', 'IF2hoseiti', 'IF1hoseiti(hex2dec)', 'IF1noise']
-----------------------------------------------------------------------------------------
※ 前処理でカラムを指定する場合は、上記に表示されたカラムを Copy & Paste するとよい

### 前処理 選択･実行（全8項目）
- オレンジの前処理は、列を指定した場合のみ実行されます。
- グリーンの前処理は、☑ ⇔ □ で実行する／しない を選択できます。
- ブルーの前処理は、自動実行されます。置換する値は任意に変更できます。

![image.png]()

In [ ]:
#@title 指定したカラムを削除
#@markdown  **<font color= "Crimson">注意</font>：指定は <u> ' ID ' , ' Age '  </u> などとしてください。**</font>
Drop_label_is = '' #@param {type:"raw"}

try:
  if Drop_label_is is not "":
    Drop_label_is = pd.Series(Drop_label_is)
    print('-----------------------------------------------------------------------------------------')
    print("drop column:", Drop_label_is.values)
    print('-----------------------------------------------------------------------------------------')
    df.drop(columns=list(Drop_label_is),axis=1,inplace=True)
  else:
    print('※削除カラムの指定なし→処理スキップ')
except:
    print("※正常に処理されませんでした。入力に誤りがないか確認してください。")

df.head()

※削除カラムの指定なし→処理スキップ

,lot,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseiti(hex2dec),IF2hoseiti(hex2dec),IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,1418,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
1,1418,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
2,1418,623.0,557.0,FFF0,FFF4,65520,65524.0,437.0,433.0,8,9.0,1.0
3,1418,664.0,593.0,FFEE,FFF2,65518,65522.0,439.0,439.0,8,10.0,1.0
4,1418,705.0,597.0,FFEC,FFF2,65516,65522.0,436.0,438.0,8,10.0,1.0

In [ ]:
#@title 記号識別した欠損データをnanに置換（☑ ＝実行）
#@markdown  ※missing_value_to_nan を☑すると、missing_value_symbol_is で指定した欠損記号をnanに置換します
missing_value_to_nan = True #@param {type:"boolean"}
missing_value_symbol_is = '---' #@param {type:"raw"}

#各列ごとに、6割欠損がある列を削除
if missing_value_to_nan == True:
  df = df.replace(missing_value_symbol_is, np.nan)
df.head()

In [ ]:
#@title データの7割以上が欠損値のカラムを削除（☑ ＝実行）
Over_70percent_missing_value_is_drop = True #@param {type:"boolean"}

#各列ごとに、6割欠損がある列を削除
if Over_70percent_missing_value_is_drop == True:
  for col in df.columns:
    nans = df[col].isnull().sum()  # nanになっている行数をカウント

    # nan行数を全行数で割り、7割欠損している列をDrop
    if nans / len(df) > 0.7: 
        # 7割欠損列を削除
        print('-----------------------------------------------------------------------------------------')
        print("drop column:", col)
        print('-----------------------------------------------------------------------------------------')
        df.drop(col, axis=1, inplace=True)    
#    else:
#      print(col,'：OK ⇒ 処理スキップ')
df.head()

,lot,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseiti(hex2dec),IF2hoseiti(hex2dec),IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,1418,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
1,1418,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
2,1418,623.0,557.0,FFF0,FFF4,65520,65524.0,437.0,433.0,8,9.0,1.0
3,1418,664.0,593.0,FFEE,FFF2,65518,65522.0,439.0,439.0,8,10.0,1.0
4,1418,705.0,597.0,FFEC,FFF2,65516,65522.0,436.0,438.0,8,10.0,1.0

In [ ]:
#@title カラム名に [ID] [Lot] を含まれる場合、削除（☑ ＝実行）
Drop_ID_label = True #@param {type:"boolean"}

include_list = df.columns[df.columns.str.contains('ID|Lot',case=False)]

if Drop_ID_label == True:
  if include_list is not "":
    df.drop(columns=list(include_list),axis=1,inplace=True)
    print('-----------------------------------------------------------------------------------------')
    print("drop column:", list(include_list))
    print('-----------------------------------------------------------------------------------------')
df.head()

-----------------------------------------------------------------------------------------
drop column: ['lot']
-----------------------------------------------------------------------------------------

,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseiti(hex2dec),IF2hoseiti(hex2dec),IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
1,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
2,623.0,557.0,FFF0,FFF4,65520,65524.0,437.0,433.0,8,9.0,1.0
3,664.0,593.0,FFEE,FFF2,65518,65522.0,439.0,439.0,8,10.0,1.0
4,705.0,597.0,FFEC,FFF2,65516,65522.0,436.0,438.0,8,10.0,1.0

In [ ]:
#@title 16進数カラムを指定、10進数に変換（☑ ＝実行）
#@markdown  **<font color= "Crimson">注意</font>：指定は <u> ' ID ' , ' Age '  </u> などとしてください。**</font>

HEX2INT = 'IF1hoseiti', 'IF2hoseiti' #@param {type:"raw"}
HEX2INT = pd.Series(HEX2INT)

import string
for i in HEX2INT:
  if df[i].dtype == 'object':
    for x in df[i]:
      try:
        if set(x).issubset(set(string.hexdigits)) ==True:
          df[i].replace(x, int(x, 16),inplace=True)
      except:
#        print('skip：',i,x)
        pass
df.head()

,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseiti(hex2dec),IF2hoseiti(hex2dec),IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
1,NaN,NaN,---,NaN,NaN,NaN,NaN,NaN,---,NaN,0.0
2,623.0,557.0,65520,65524.0,65520,65524.0,437.0,433.0,8,9.0,1.0
3,664.0,593.0,65518,65522.0,65518,65522.0,439.0,439.0,8,10.0,1.0
4,705.0,597.0,65516,65522.0,65516,65522.0,436.0,438.0,8,10.0,1.0

In [ ]:
#@title 指定カラムを Labelエンコード
#@markdown  **<font color= "Crimson">注意</font>：指定は <u> ' ID ' , ' Age ' , </u> などとしてください。**
Object_label_to_encode_is = '' #@param {type:"raw"}
Object_label_to_encode_is = pd.Series(Object_label_to_encode_is)

from sklearn.preprocessing import LabelEncoder

encoders = dict()

try:
  for i in Object_label_to_encode_is:
    if Object_label_to_encode_is is not "":
      series = df[i]
      le = LabelEncoder()
      df[i] = pd.Series(
        le.fit_transform(series[series.notnull()]),
        index=series[series.notnull()].index
        )
      encoders[i] = le
      print('-----------------------------------------------------------------------------------------')
      print('[エンコードカラム]：',i)
      le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
      print(le_name_mapping)
    else:
      print('skip')

except:
    print("※正常に処理されなかった場合は入力に誤りがないか確認してください。")
print('-----------------------------------------------------------------------------------------') 
df.head()
#https://stackoverflow.com/questions/54444260/labelencoder-that-keeps-missing-values-as-nan

※正常に処理されませんでした。入力に誤りがないか確認してください。
-----------------------------------------------------------------------------------------

,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,NaN,NaN,---,NaN,NaN,NaN,---,NaN,0.0
1,NaN,NaN,---,NaN,NaN,NaN,---,NaN,0.0
2,623.0,557.0,65520,65524.0,437.0,433.0,8,9.0,1.0
3,664.0,593.0,65518,65522.0,439.0,439.0,8,10.0,1.0
4,705.0,597.0,65516,65522.0,436.0,438.0,8,10.0,1.0

In [ ]:
#@title 異常な objectデータ を指定番号に置換
#@markdown  **<font color= "Crimson">注意</font>：指定は <u> 数値 </u> としてください。**

Replace_number = -99 #@param {type:"raw"}

import string

for i in df.columns:
  for data in df[i]:
    try:
      if data.isdigit() == False:
        df[i].replace(data, Replace_number,inplace=True)
    except:
      #print('skip：',i,data)
      pass
df.head()

,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,NaN,NaN,-99.0,NaN,NaN,NaN,-99,NaN,0.0
1,NaN,NaN,-99.0,NaN,NaN,NaN,-99,NaN,0.0
2,623.0,557.0,65520.0,65524.0,437.0,433.0,8,9.0,1.0
3,664.0,593.0,65518.0,65522.0,439.0,439.0,8,10.0,1.0
4,705.0,597.0,65516.0,65522.0,436.0,438.0,8,10.0,1.0

In [ ]:
#@title N.Aデータ を指定番号に置換
#@markdown  **<font color= "Crimson">注意</font>：指定は <u> 数値 </u> としてください。**

Replace_from_NA_to_number = -1 #@param {type:"raw"}

for col in df.columns:
  if df[col].dtypes is not ( "int64"  or  "float64") :
    df[col] = df[col].fillna(Replace_from_NA_to_number)
df.head()

,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,-1.0,-1.0,-99.0,-1.0,-1.0,-1.0,-99,-1.0,0.0
1,-1.0,-1.0,-99.0,-1.0,-1.0,-1.0,-99,-1.0,0.0
2,623.0,557.0,65520.0,65524.0,437.0,433.0,8,9.0,1.0
3,664.0,593.0,65518.0,65522.0,439.0,439.0,8,10.0,1.0
4,705.0,597.0,65516.0,65522.0,436.0,438.0,8,10.0,1.0
...,...,...,...,...,...,...,...,...,...
17389,643.0,566.0,65519.0,65523.0,438.0,431.0,8,10.0,1.0
17390,658.0,542.0,65518.0,65525.0,432.0,428.0,8,9.0,1.0
17391,-1.0,-1.0,-99.0,-1.0,-1.0,-1.0,-99,-1.0,-1.0
17392,689.0,636.0,65517.0,65519.0,441.0,427.0,-99,-1.0,0.0
17393,684.0,634.0,65517.0,65519.0,443.0,438.0,7,7.0,1.0

In [ ]:
#@title カラム名を英訳（☑ ＝実行）
Column_English_translation = False #@param {type:"boolean"}

from googletrans import Translator

if Column_English_translation == True:

  eng_columns = {}
  columns = df.columns
  translator = Translator()
  
  for column in columns:
    eng_column = translator.translate(column).text
    eng_column = eng_column.replace(' ', '_')
    eng_columns[column] = eng_column
    df.rename(columns=eng_columns, inplace=True)

print('-----------------------------------------------------------------------------------------')
print('[カラム名_翻訳結果（翻訳しない場合も表示）]')
print('-----------------------------------------------------------------------------------------') 
df.head(0)

-----------------------------------------------------------------------------------------
[カラム名_翻訳結果（翻訳しない場合も表示）]
-----------------------------------------------------------------------------------------

Empty DataFrame
Columns: [IF1hoseimae, IF2hoseimae, IF1hoseiti, IF2hoseiti, IF1hoseigo, IF2hoseigo, IF1noise, IF2noise, result01]
Index: []

In [ ]:
#@title object要素が残っている場合、floatに変換（☑ ＝実行）
Object_to_float = True #@param {type:"boolean"}

if Object_to_float == True:
  for col in df.columns:
    if df[col].dtypes == "object":
      df[col] = df[col].astype('float64')

In [ ]:
#@title 前処理判定
if df.isnull().values.sum()==0:
  print('-----------------------------------------------------------------------------------------')
  print('[NA処理判定]')
  print('◎：欠損値はありません')
else:
  print('-----------------------------------------------------------------------------------------')
  print('[NA処理判定]')
  print('×：欠損値が',df.isnull().values.sum(),'つあります')
print('-----------------------------------------------------------------------------------------')
print('[各カラムのデータ型]')
print(df.dtypes)
print('※各カラムのデータ型が[float64]か[int64]なら正しく処理されています')
print('-----------------------------------------------------------------------------------------')
df.head()

-----------------------------------------------------------------------------------------
[NA処理判定]
◎：欠損値はありません
-----------------------------------------------------------------------------------------
[各カラムのデータ型]
IF1hoseimae    float64
IF2hoseimae    float64
IF1hoseiti     float64
IF2hoseiti     float64
IF1hoseigo     float64
IF2hoseigo     float64
IF1noise       float64
IF2noise       float64
result01       float64
dtype: object

,IF1hoseimae,IF2hoseimae,IF1hoseiti,IF2hoseiti,IF1hoseigo,IF2hoseigo,IF1noise,IF2noise,result01
0,-1.0,-1.0,-99.0,-1.0,-1.0,-1.0,-99.0,-1.0,0.0
1,-1.0,-1.0,-99.0,-1.0,-1.0,-1.0,-99.0,-1.0,0.0
2,623.0,557.0,65520.0,65524.0,437.0,433.0,8.0,9.0,1.0
3,664.0,593.0,65518.0,65522.0,439.0,439.0,8.0,10.0,1.0
4,705.0,597.0,65516.0,65522.0,436.0,438.0,8.0,10.0,1.0

### Visualization & csv output

In [ ]:
#@title Visualization Report Output
#create_report(df)

from dataprep.eda import create_report
from dataprep.datasets import load_dataset
from dataprep.eda import plot, plot_correlation, plot_missing, plot_diff

report = create_report(df)
report.save('DataPrep_Report')

from google.colab import files
files.download( "/content/DataPrep_Report.html" )

E-1019 (DUPLICATE_FACTORS): FactorRange must specify a unique list of categorical factors for an axis: duplicate factors found: 'Before_differ...ion', 'After_differe...ion'

Report has been saved to DataPrep_Report.html!

In [ ]:
#@title 前処理結果 csv出力（☑ ＝実行）

csv_output = True #@param {type:"boolean"}

#csv出力
if csv_output == True:
  df.to_csv('after_prepro_data.csv',index=False)
  from google.colab import files
  files.download('after_prepro_data.csv')

In [ ]:
#@title 前処理（異常値･NAカット）結果 csv出力（☑ ＝実行）

csv_output_cut_ver = False #@param {type:"boolean"}

#Replace_number(default：-99)含む行を削除
def remove_any_xx_row(df2):
  df2 = df.copy()
  for row in df2.index:
    if (df2.loc[row] == Replace_number).any():
      df2.drop(row, axis=0, inplace=True)
  return df2
    
#df2 = remove_any_xx_row(df)

#Replace_from_NA_to_number(default：-1)含む行を削除
def remove_any_na_row(df2):
  df2 = df2.copy()
  for row in df2.index:
    if (df2.loc[row] == Replace_from_NA_to_number).any():
      df2.drop(row, axis=0, inplace=True)
  return df2

#df2 = remove_any_na_row(df)
#df2.head()

#csv出力
if csv_output_cut_ver == True:
  df2.to_csv('after_prepro_data_cut_ver.csv',index=False)
  from google.colab import files
  files.download('after_prepro_data_cut_ver.csv')

In [ ]:
#@title Visualization Report **cut_ver.** Output（☑ ＝実行）

html_output = False #@param {type:"boolean"}

#create_report(df)
report = create_report(df2)
report.save('DataPrep_Report_cut_ver')

if html_output == True:
  from google.colab import files
  files.download( "/content/DataPrep_Report_cut_ver.html" )

### Note

https://stackoverflow.com/questions/54444260/labelencoder-that-keeps-missing-values-as-nan